<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="myApp" ng-controller="todoCtrl">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="style.css">
<script src="main.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

<div id='welcome-section' class='container-fluid' onClick="my_name()">
    <h1><center>Shopping List</center></h1>
</div>

<body ng-app="List">
  <form ng-submit="todoAdd()">
    <input type="text" ng-model="item" size="20" placeholder="Item" float="center">
    <input type="image" src="http://upload.wikimedia.org/wikipedia/commons/thumb/9/9e/Plus_symbol.svg/500px-Plus_symbol.svg.png" alt="Submit" width="48" height="48">
   
</form>

<br>

<div ng-repeat="x in todoList">
    <label class="container">
        <input type="checkbox" checked="checked" ng-model="x.done"> <span ng-bind="x.todoText"></span>
    <span class="checkmark"></span>
</label>
</div>

<p><button class="button" ng-click="remove()">Remove marked</button></p>

<script>
var app = angular.module('myApp', []); 
app.controller('todoCtrl', function($scope) {
    $scope.todoList = [{todoText:'', done:false}];

    $scope.todoAdd = function() {
            $scope.todoList.push({todoText:$scope.item, done:false});
            $scope.item = "";
            
    };

    $scope.remove = function() {
        var oldList = $scope.todoList;
        $scope.todoList = [];
        angular.forEach(oldList, function(x) {
            if (!x.done) $scope.todoList.push(x);
        });
    };
});
</script>

</body>
</html>
